.gallery-container {
  text-align: center;
  margin: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gallery-image {
  width: 100%;
  height: auto;
  transition: transform 1s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.3);
}

.gallery-image:active {
  transform: scale(1.2);
}
.custom-placeholder-opacity::placeholder {
  opacity: 0.5;
}
